<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <script  defer type="text/javascript" src="./js/funciones.js"></script>
    <script  defer type="text/javascript" src="./js/funciones_jq.js"></script>
    
    <title>Chat</title>
</head>
<body>
    <div class="Principal-home">

 <div id="Principal-contacts" style="display: none;" data-id-personal="<%= data[0].idUsuario %>">

       <div class="ourUser">
           <div id="ourUser-picture">
                <div id="backPict" style="display:none;"><img src="img/back.svg"  id="back-web"></div>
                <div id="userPict"><img src="img/user.svg" ></div>
           </div>
           <div id="ajustes">
                
               <div id="userPictt"><img src="img/menu.png"  id="config-web"></div>

           </div>
           <div id="AddUser"><img src="img/Adduser.png" id="AddUser-img"></div>

       </div>
        <div id="search-bar" >
            <div id="search-img">
                <img src="img/search.png" >
            </div>
            <div id="search-content">
                
                <input type="search" value="Buscar Chat" id="search-input"onclick="if(this.value=='Buscar Chat') 
                this.value=''" onblur="if(this.value=='') this.value='Buscar Chat'">

                
            </div>
            <div id="IniciarConversacion">
                    <img src="img/nuevo.png" id="nuevoimg">
            </div>

        </div>

        <div id="Configuracion-web" style="display:none"> 
            <h3 id="Settings-tittle">Settings</h3> 
            <div class="User_settings_Web">
                <div id="Perfil_Image">
                    <img src="img/user.svg"  id="User_Settings_Img">
                </div>
                <div id="Datos_User">
                    <div id="User_Name_Settings">
                        <p>User</p>

                    </div>
                    <div id="User_email_Settings">
                        <p>Email address</p>
                    </div>
                </div>

            </div>
            <div class="Nuevos_Datos_Perfil_Web">
                    <button class="Settings_User" >New Username</button>
                <button class="Settings_Password">New Password</button>
            </div>
            <div class="Cerrar_Perfil_Web">
                <button id="CerrarSesion"> Log Out </button>
        </div>

        </div>

        <div id="BusquedaContactos" style="display:none"> 

        </div>
         <div id="message-content">

            <% for(let i = 0; i < data.length; i++) { %>
                <div class="message-in" data-id-contact="<%= data[i].idUsuarioAgregado %>"> 
                   <div id="img-in">
                        <div id="userInPict"><img src="img/user.svg" ></div>
                   </div>
                   <div id="datos-in">
                       <div id="name-in">
                           <h3 id="<%= data[i].idUsuarioAgregado %>"><%= data[i].nombreContacto %></h3>
                       </div>
                       <div id="little-text">
                           <p></p>
                       </div>
                   </div>
                </div>
            <% } %>

         </div>

    </div>



   

    <div class="container">

    <div class="top_banner-web" style="display: none;">
            <div class="pBack"><img src="img/back.svg"></div>
            <div class="pPic"><img src="img/user.svg" class="userPic"></div>
            <div class="pInfo">
                <h1>User</h1>
            </div>
        </div>

         <div class="top_banner-web"  style="display: none;">
            <div class="pBack"><img src="img/back.svg"></div>
            <div class="pPic"><img src="img/user.svg" class="userPic"></div>
            <div class="pInfo">
                <h1>User</h1>
            </div>
        </div>


        <!-- vista movil -->
        <div class="top_banner">
            <div class="top_banner_text">
                <h1 id="title-banner">Chats</h1>
            </div>

            <div class="addButton" onclick="addContact()">
                <img src="img/add.svg">
            </div>
        </div>

        <div class="main_container" id="addContactWindow" style="display: none;">
            <div id="addContact-popUp">
                <div><h1>Add Contact</h1></div>
                <div><input type="text" placeholder="Email"></div>
                <div><button class="addContactsButton">Add contact</button></div>
                <div><p onclick="addContactCancel()">Cancel</p></div>
            </div>
        </div>

        <div class="main_container" id="contacts" style="display: none;">
            <div class="search">
                <form>
                    <input type="text" class="search_bar" placeholder="search">
                </form>
            </div>
            
            <div class="letter">
                <p>Contacts</p>
            </div>

            <% for(let i = 0; i < data.length; i++) { %>
                <div class="message-in" data-id-contact="<%= data[i].idUsuarioAgregado %>"> 
                   <div id="img-in">
                        <div id="userInPict"><img src="img/user.svg" ></div>
                   </div>

                   <div id="datos-in">
                       <div id="name-in">
                           <h3 id="<%= data[i].idUsuarioAgregado %>"><%= data[i].nombreContacto %></h3>
                       </div>
                   </div>
                </div>
            <% } %>
        </div>
        <!-- ... -->

        <div class="input_banner-web"style="display: none;" >
            <div class="pic"><img src="img/add.svg"></div>

            <div class="input_bar-web">
                <input type="text">
            </div>

            <div class="pic"><img src="img/send.svg"></div>
        </div>

        <div class="main_container" id="chats">
        
        </div>

        <!-- No Borren esto que ya me lo borraron una vez -->
        <div class="main_container" id="chatsMovil">
            <div class="search">
                <input type="text" class="search_bar" placeholder="search">
            </div>

            <% for(let i = 0; i < data.length; i++) { %>
                <div class="message-in" data-id-contact="<%= data[i].idUsuarioAgregado %>"> 
                   <div id="img-in">
                        <div id="userInPict"><img src="img/user.svg" ></div>
                   </div>
                   
                   <div id="datos-in">
                       <div id="name-in">
                           <h3 id="<%= data[i].idUsuarioAgregado %>"><%= data[i].nombreContacto %></h3>
                       </div>
                       <div id="little-text">
                           <p>Mensaje de prototipo</p>
                       </div>
                   </div>
                </div>
            <% } %>
        </div>
        <!-- ... -->
        







            
        </div>

        <div class="sticky" style="display:none">
                <div id="Sticky-Close">
                        <img src="img/Close.png" id="close-img">
                </div>
               
                
                <div id="Sticky-Input">
                    
                        <h4>Agregar Amigos</h4>
                    <input type="mail" id="Sticky-agregarAmigo" placeholder="Ingrese Correo">
                    <button id="Sticky-aceptar">Agregar</button>

                </div>
                
                
                </div>

        <div class="main_containerConfig" id="config" style="display: none;">
            <div class="global_settings">
                <div class="profile_settings">
                    <div class="profile_pic">
                        <div class="profile_pic_image"><img src="img/user.svg"></div>
                        <div class="edit_button"><a>edit</a></div>
                    </div>

                    <div class="profile_info">
                        <div class="username_input">
                            <input type="text" value="User Name">
                        </div>
                        <div class="user_mail"><p>e-mail address</p></div>
                    </div>
                </div>

                <div class="save_button">
                    <button class="buttonConfig" onclick="changePassword()">change password</button>
                </div>

                <div class="save_button">
                    <button class="buttonConfig" style="background-color: #4CAF50 !important;">save changes</button>
                </div>
            </div>

            <div class="newPassword" id="changePassword" style="display: none;">
                <div class="newPassword_inputs">
                    <input type="text" placeholder="new password">
                    <input type="text" placeholder="confirm password">
                </div>
                
                <div>
                    <button class="buttonConfig_two" onclick="savePassword()">save</button>
                </div>
            </div>

            <div class="singout_button">
                <button class="buttonConfig" style="background-color: #EF4647 !important;">Sing out</button>
            </div>
        </div>

        <div class="menu_bar">
            <div class="menu_button">
                <img src="img/phone-bookGray.svg" alt="" class="image" onclick="nav(this.id)" id="contactsButton">
            </div>
            <div class="menu_button">
                <img src="img/speechBlue.svg" alt=""  class="image" onclick="nav(this.id)" id="chatsButton">
            </div>
            <div class="menu_button">
                <img src="img/settingsGray.svg" alt=""  class="image" onclick="nav(this.id)" id="configButton">
            </div>
        </div>
    </div>
      </div>

      <script src="./socket.io/socket.io.js"></script>
      <script src="./js/chat.js"></script>
</body>
</html>